[Desktop Entry]
Version=1.0
Type=Application
Name=.....Themes
Comment=
Exec=pkexec thunar /usr/share/themes %F
Icon=
Path=
Terminal=false
StartupNotify=false
