[Desktop Entry]
Version=1.0
Type=Application
Name=Xed
Comment=Edit text files
Exec=xed %U
Icon=accessories-text-editor
Path=
Terminal=false
StartupNotify=false
