[Desktop Entry]
Version=1.0
Type=Application
Name=.....Gitrepo
Comment=
Exec=thunar /home/ridho/Private/gitrepo
Icon=
Path=
Terminal=false
StartupNotify=false
