[Desktop Entry]
Version=1.0
Type=Application
Name=.....Special Code
Comment=
Exec=thunar /home/ridho/Private/Special Code/
Icon=
Path=
Terminal=false
StartupNotify=false
