[Desktop Entry]
Version=1.0
Type=Application
Name=.....Documents
Comment=
Exec=thunar /home/ridho/Documents
Icon=
Path=
Terminal=false
StartupNotify=false
